services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: quizinart
      POSTGRES_USER: quizinart
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
