name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Lint
        run: cargo clippy --all-targets --all-features

      - name: Test
        run: cargo test --all-targets --all-features

      - uses: DeterminateSystems/nix-installer-action@main

      - name: Build Release
        run: nix build .

      - name: Build Docker Image
        run: nix build .#docker
